@font-face {
    font-family: 'Destiny_Keys';
    src: url(./fonts/Destiny_Keys.otf);
}

.solar::before {
    padding: 1.2em 0.38em;
    content: "\e140";
    color: #e7601d;
}

.arc::before {
    padding: 1.2em 0.3em;
    content: "\e143";
    color: #81b5e4;
}

.void::before {
    padding: 1.2em 0.28em;
    content: "\e144";
    color: #b07cdb;
}

.stasis::before {
    padding: 1.2em 0.3em;
    content: "\e139";
    color: #5e7afd;
}

.bow::before {
    padding: 1.2em 0.3em;
    content: "\e099";
}

body {
    font-family: 'Yu Gothic', Destiny_Keys;
}

.indent {
    padding-left: 1.5em;
    padding-block: 0.3em;
    line-height: 1.85em;
}

.small {
    font-size: 90%;
}

.c_solar {
    color: #bd4c14;
}

.c_void {
    color: #9853d0;
}

ul.stats {
    list-style-type: none;
    padding-left: 0em;
    padding-bottom: 0.5em;
    margin-top: 0em;
    margin-bottom: 0em;
}

ul.stats2 {
    list-style-type: none;
    padding-left: 1.2em;
    margin-top: 0em;
    margin-bottom: 0.2em;
}

ul.stats3 {
    list-style-type: none;
    padding-left: 1.2em;
    margin-top: 0em;
    margin-bottom: 0.2em;
}

.toc {
    font-size: 90%
}

dt {
    background: #d9f1f5;
    margin-left: 1em;
    font-weight: bold;
}

table {
    border-spacing: 0;
    margin: 0.4em;
}

td,
th {
    border-right: 1px solid #a3a3a3;
    border-bottom: 1px solid #a3a3a3;
    margin: 0.4em;
}

thead tr:first-child th {
    border-top: 1px solid #a3a3a3;
}

th:first-child {
    border-left: 1px solid #a3a3a3;
}

th {
    background: #ccdae4;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-weight: normal;
}

table.debuff {
    border: 2px solid hsl(273, 23%, 32%);
}

.debuff tr {
    background: hsl(273, 57%, 87%);
}

.debuff td {
    text-align: left;
}

table.buff {
    border: 2px solid hsl(20, 21%, 36%);
}

.buff tr {
    background: hsl(20, 71%, 81%);
}

.buff td {
    text-align: left;
}

.buff td.icon {
    text-align: center;
}

td {
    text-align: right;
    padding-inline: 0.4em;
}

.debuff td.icon {
    background: hsl(273, 12%, 42%);
    padding: 0em;
}

.debuff img.table {
    width: 3em;
    height: 3em;
    vertical-align: bottom;
}

.buff td.icon {
    background: hsl(20, 31%, 31%);
    padding: 0em;
}

.buff img.table {
    width: 3em;
    height: 3em;
    vertical-align: bottom;
}

td.name {
    text-align: left;
}

h3 {
    box-decoration-break: clone;
    border-bottom: 2px solid #646464;
    position: relative;
    background: #d2deff;
    padding-left: 0.7em;
    padding-top: 0.7em;
    padding-bottom: 0.1em;
}

h3.item {
    border-bottom: 2px solid #646464;
    position: relative;
    height: 2em;
    background: #d2deff;
    padding-left: 0;
    padding-top: 0em;
    margin-top: 0.3em;
    padding-bottom: 1.1em;
    margin-bottom: 0.4em;
}

h3.item:before {
    content: '';
    left: 0;
    position: absolute;
}

img.h3 {
    background: #737f81;
    border: 2px solid #5e5e5e;
    margin-left: 0.3em;
    margin-right: 0.5em;
    width: 2.3em;
    height: 2.3em;
    transform: translate(0, 12%);
}

img.head {
    width: 1.8em;
    height: 1.8em;
    margin-right: 0.5em;
    margin-bottom: 0.1em;
}

.tablesorter img.table {
    width: 2em;
    height: 2em;
    vertical-align: bottom;
    padding-block: 0.2em;
}

table.tablesorter {
    background: #eef8ff;
    margin-bottom: 0.9em;
    font-size: 90%
}

.tablesorter th {
    padding-left: 0.5em;
    padding-right: 1.2em;
}

.tablesorter th.name {
    padding-right: 0.5em;
}

th.icon {
    background: #737f81;
    padding: 0em;
}

.tablesorter-headerUnSorted {
    background-image: url('../img/sort.png');
    background-repeat: no-repeat;
    background-position: center right;
}

.tablesorter-headerAsc {
    background-image: url('../img/sort_u.png');
    background-repeat: no-repeat;
    background-position: center right;
    border-bottom: #222 2px solid;
}

.tablesorter-headerDesc {
    background-image: url('../img/sort_d.png');
    background-repeat: no-repeat;
    background-position: center right;
    border-bottom: #222 2px solid;
}

.sorter-false {
    background-image: none;
}

th.sorter-false {
    padding-right: 0.4em;
}

.tablesorter td .none {
    display: none;
}

.base {
    background: #e1f5f8;
    font-size: 90%;
    font-style: italic;
    margin-bottom: 0.7em;
}

.indepth {
    margin-left: 1em;
    margin-bottom: 0.7em;
}

.info {
    margin-left: -0.6em;
    font-size: 80%;
    color: #7e4d4d;
}

.further {
    color: #2a8613;
}

.box {
    background: #d9f1f5;
    color: #666666;
    font-size: 80%;
    font-family: 'Courier New';
    width: 650px;
    height: 100px;
    margin: 10px;
    padding: 12px;
    border: 1px solid #adadad;
    overflow-y: scroll;
}

.box ul {
    list-style: "- ";
    padding-left: 1.2em;
}

.date {
    color: #222222;
}

@media screen and (max-width: 768px) {
    h3 {
        font-size: 110%;
    }
    table,
    .tablesorter {
        border: none;
        overflow-x: auto;
        display: block;
    }
    th:first-child {
        white-space: nowrap;
        position: sticky;
        top: 0;
        left: 0;
    }
    td {
        white-space: nowrap;
    }
    th:first-child {
        z-index: 1;
    }
    .box {
        width: 90%;
    }
}