.ft_list {
    position: relative;
}

.ft_list p {
    position: absolute;
    color: #fff;
    top: -0.8em;
    left: 3.7em;
    font-size: 150%;
    font-weight: bold;
    user-select: none;
    white-space: nowrap;
}

.character {
    position: relative;
}

.character p {
    position: absolute;
    color: #fff;
    top: -0.4em;
    left: 5em;
    font-size: 100%;
    font-weight: bold;
    user-select: none;
    white-space: nowrap;
    z-index: 3;
}

.ft_list img {
    padding-bottom: 1em;
}

.background {
    position: relative;
    background-color: #3f4045;
    overflow: hidden;
    height: 3.5em;
    width: 48em;
}

.background img {
    position: absolute;
    object-fit: cover;
    object-position: bottom;
    min-height: 58.3px;
    top: -21px;
    right: 0px;
    z-index: 1;
}

.character img.icon {
    position: absolute;
    width: 38px;
    top: 7.5px;
    left: 31px;
    z-index: 2;
}

@media screen and (max-width: 768px) {
    .ft_list {
        overflow: scroll;
    }
    .character {
        overflow: scroll;
    }
}