* {
    margin: 0;
    padding: 0;
}

:root {
	--background: #c6e7ff;
	--main-color: #eff8fe;
	--accent-background: #e1f0fa;
	--foreground: #111;
	--accent-foreground: #1d2225;
}

body {
    background: var(--background);
		color: var(--foreground);
    font-family: 'Yu Gothic';

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		margin: 1rem auto;
}

html {
    scroll-behavior: smooth;
}

main {
	max-width: 1200px;
	width: 1800%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	padding: 1rem;

	background-color: var(--main-color);
	border: solid 1px #2c3942;
}

.main-logo {
	width: 100%;
}

.main-logo img {
	width: 50%;
	min-width: 450px;
	margin: 0 auto;
	display: block;
}

.intro {
	width: fit-content;
	text-align: center;

	padding: 0.3rem 1rem;
	background-color: var(--accent-background);
	border-radius: 0.5rem;
}

h2 {
	width: 100%;
	line-height: 80%;
	margin: 1rem 1rem 0;
	border-bottom: solid 2px var(--accent-foreground)
}

h2 .jp {
	font-size: 70%;
}

h2 .divider {
	font-size: 70%;
}